<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Login Custom</title>

  </head>
  <body>
  <div class="container">
    
<form class="form-signin" method="post" action="/auth/login">
    <h2 class="form-singin-heading">Login</h2>
   <p>
      <label for="Username">Username</label>
      <input type="text" id="username" name="username" class="form-control" placeholder="Username" required>
   </p>
    <p>
      <label for="Password">Password</label>
      <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
    </p>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
</form>
  </div>
  </body>
</html>
